<%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :agreement %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn' %>
  </div>
<% end %>
